fastapi
llama-index-core
SQLAlchemy
scikit-learn
pydantic
mistralai

llama-index-embeddings-clip
llama-index-core
SQLAlchemy

llama-index-llms-google-genai
llama_index-experimental
llama-index-embeddings-google-genai

llama_index-readers-file
mysql-connector-python
psycopg2-binary